.list a {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.list :hover {
    color: #03A9F4;
}

.foto {
    list-style-type: none;
}

.title-fotos {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

.pre-main-text-fotos {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}

.main-text-fotos {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}

.photo {
    width: 420px;
}

.button {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    position: absolute;
    width: 165px;
    height: 60px;
    background-color: #ffffff;
    cursor: pointer;
}